<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <li><i class="fa fa-sign-in"></i></li>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="firstName" class="fadeIn second" name="login" placeholder="first name" [(ngModel)]="userObject.firstName">
      <input type="text" id="lastName" class="fadeIn second" name="login" placeholder="last name" [(ngModel)]="userObject.lastName">
      <input type="text" id="email" class="fadeIn third" name="login" placeholder="email"
             [(ngModel)]="userObject.email" (blur)="checkEmailExists(userObject.email)">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="userObject.password">
      <input type="text" id="contactNumber" class="fadeIn third" name="login" placeholder="contact number" [(ngModel)]="userObject.contactNumber">
      <input type="button" class="fadeIn fourth" value="Sign Up" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a routerLink="/login" routerLinkActive="active">Sign in</a>
    </div>

  </div>
</div>

