<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-4">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-3">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
          <div class="span12">
            <div class="span6">
              <h1 class="muted">
                <a routerLink="/" routerLinkActive="active">ABCD Properties</a>
              </h1>

            </div>

            <div class="span4 offset2" style="margin-top:15px;">
              <button class="btn pull-right" type="button">
                <a routerLink="/login" routerLinkActive="active">Sign In</a>
              </button>
            </div>
          </div>
        </div>

        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li>
                  <a routerLink="/" routerLinkActive="active">Explore Products</a>
                </li>

                <li>
                  <a href="#">Search</a>
                </li>

                <li>
                  <a href="#">My Products</a>
                </li>

                <li>
                  <a routerLink="/add-new-property" routerLinkActive="active">Add New Property</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
